.vehicle-vehicled {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.vehicle-vehicled h5 {
    display: inline-block;
    margin-right: 20px;
}

.vehicle-vehicled .badge {
    padding: 10px;
    font-size: 14px;
}

.vehicle-vehicled .vehicle-img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.vehicle-vehicled .btn {
    width: 100%;
    margin-bottom: 10px;
}

.vehicle-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.vehicle-description {
    flex-grow: 1;
    padding-left: 15px;
}

.vehicle-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.badge {
    padding: 10px;
    font-size: 14px;
}

.text-bg-success {
    background-color: #28a745;
    color: #fff;
}
